aiohttp
aiofiles
apscheduler==3.10.4
Abg==2.3.1
pyrogram==2.0.106
pymongo
pyromod==2.0.0
pytz==2023.3.post1
pykeyboard
motor
heroku3
gitpython
requests
dnspython
tgcrypto==1.2.2
asyncio
python-dotenv
psutil
lexica-api
deep-translator
pycgi
telethon==1.26.1
urllib3
oldpyro==0.1.0
telegraph==2.2.0
apscheduler
Flask
uvloop
langdetect
git+https://github.com/badmunda98/BadAPI
